/* Full-screen layout */
html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom right, #f4f8ff, #ffffff);
  }
  
  /* main{
      width: 100%;
  } */
  
  .login-full-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 100vh;
    padding: 40px;
    box-sizing: border-box;
    padding-top: 30px;
  }
  
  .login-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .login-logo {
    width: 64px;
    height: 64px;
    background: var(--accent);
    border-radius: 16px;
    margin-bottom: 20px;
    margin-left: 310px;
  }
  
  .title {
    font-size: 32px;
    font-weight: bold;
    color: var(--accent)
  }
  
  .description {
    font-size: 16px;
    color: #666;
    max-width: 700px;
    margin: 10px auto;
  }
  
  .features {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
  }
  
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: #555;
  }
  
  .feature img {
    height: 24px;
    margin-bottom: 6px;
  }
  
  .login-main {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .form-title {
    color: var(--accent);
  
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-subtext {
    color: #999;
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .form-button {
    background: linear-gradient(to right, var(--accent), #8b5cf6);
    color: #fff;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    /* transition: background 0.3s ease; */
    width: 100%;
    
  }
  
  .form-button:hover {
    background: #582fcf;
  }
  
  .login-footer {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 50px 0 20px;
  }
  
  .footer-card {
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    padding: 20px;
    width: 220px;
    border-radius: 12px;
    text-align: center;
    font-size: 14px;
    color: #333;
  }
  
  .footer-card img {
    height: 24px;
    margin-bottom: 10px;
  }
  
  .login-copyright {
    font-size: 12px;
    color: #aaa;
    margin-top: 10px;
  }
  
  .w-lg-500px {
    width: 100% !important;
    height: 100% !important;
    padding-top: 30px;
  }
  
  .login-card {
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 12px;
    max-width: 460px;
    width: 100%;
  }
  
  .app-header {
    background: #fff;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .logo-image {
    height: 70px;
    object-fit: contain;
  }