
#input-file-upload {
    display: none;
}

#form-file-upload1 {
    height: 15rem;
    /* padding-top: 1rem; */
    width: 40rem;
    max-width: 100%;
    text-align: center;
    position: relative;
}

#label-file-upload1 {
    height: 70%;
    display: flex;
    margin-bottom: 20px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-radius: 1rem;
    border-style: dotted;
    border-color: #cbd5e1;
    background-color: #f8fafc;
}

#label-file-upload1.drag-active {
    background-color: #ffffff;
}

#drag-file-element {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.scrollable-container {
    width: 100%;
    overflow-y: auto;
    max-height: 200px;
}

.scrollable-container::-webkit-scrollbar {
    width: 5px;
    /* For Chrome, Safari, and newer versions of Edge */
}

.scrollable-container::-webkit-scrollbar-thumb {
    background-color: rgb(234, 234, 240);
}

.scrollable-container::-webkit-scrollbar-track {
    background-color: rgb(248, 248, 248);
}

.divider {
    margin: 20px 0;
    font-weight: bold;
    color: #999;
}

.modal {
    z-index: 1065;
    /* Below the Picker */
}

.picker-dialog {
    position: relative;
    top: 0;
    left: 0;
    background-color: #fff;
    border: 1px solid #acacac;
    width: auto;
    padding: 0;
    z-index: 9999 !important;
    overflow: auto;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
}

#label-file-upload1 {
    height: 74%;
    display: flex;
    margin-bottom: 10px;
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-radius: 1rem;
    border-style: dotted;
    border-color: #cbd5e1;
    background-color: #f8fafc;
}

#label-file-upload1.drag-active {
    background-color: #ffffff;
}

#drag-file-element {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.scrollable-container {
    width: 100%;
    overflow-y: auto;
    max-height: 200px;
}

.scrollable-container::-webkit-scrollbar {
    width: 5px;
    /* For Chrome, Safari, and newer versions of Edge */
}

.scrollable-container::-webkit-scrollbar-thumb {
    background-color: rgb(234, 234, 240);
}

.scrollable-container::-webkit-scrollbar-track {
    background-color: rgb(248, 248, 248);
}

.upload-source-options{
    display:'flex';
    align-items:"center";
    justify-content:'center';
    width:"100%"
}

.upload-source-options button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0 20px;
  color: var(--bs-modal-color);
}

.upload-source-options button.selected {
 
  border-radius: 30%;
}

.upload-source-options button:hover {
  opacity: 0.8;
}

.upload-source-options button:focus {
  outline: none; /* Remove the default focus outline */
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bounce-icon {
  animation: bounce 0.6s infinite;
}

@keyframes flip {
  0% { transform: rotateY(0); }
  50% { transform: rotateY(180deg); }
  100% { transform: rotateY(360deg); }
}

.flip-icon {
  animation: flip 2s linear infinite;
  transform-style: preserve-3d;
}

.jelly-icon {
  transition: transform 0.3s ease;
}

.jelly-icon:hover {
  animation: jelly 0.5s ease;
}

@keyframes jelly {
  0% { transform: scale(1, 1); }
  25% { transform: scale(1.2, 0.8); }
  50% { transform: scale(0.8, 1.2); }
  75% { transform: scale(1.1, 0.9); }
  100% { transform: scale(1, 1); }
}

.icon-with-tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: max-content;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px 8px;
  border-radius: 4px;
  position: absolute;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
  z-index: 1;
}

.icon-with-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.FromLink{
    border-radius: 30px;
    width: 250px;
    text-decoration: solid;
    color: black;
}

.swal2-popup.custom-swal-popup {
  border-radius: 16px;
  padding: 30px;
  font-size: 16px;
  max-width: 1000px;
  max-height: 90vh;
}
.swal2-input {
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
}

