:root {
    --scrollbar-track-background-color: gray;
}

/* Set the background color of the scrollbar track using the CSS variable */
::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-background-color);
}

/* Add other scrollbar styles using CSS variables */
::-webkit-scrollbar {
    color: blue;
    /* scrollbar styles */
}

::-webkit-scrollbar-thumb {
    color: yellow;
    /* scrollbar thumb styles */
}