@import '../../../styles/modern-theme.scss';

.modern-input-wrapper {
  width: 100%;
  margin-bottom: $modern-spacing-4;
}

.modern-input-label {
  display: block;
  font-size: $modern-fs-sm;
  font-weight: $modern-fw-medium;
  color: $modern-gray-700;
  margin-bottom: $modern-spacing-2;
}

.modern-input-required {
  color: $modern-error;
  margin-left: $modern-spacing-1;
}

.modern-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.modern-input-field,
.modern-textarea,
.modern-select {
  @include modern-input;
}

.modern-input-with-icon-left {
  padding-left: 2.5rem;
}

.modern-input-with-icon-right {
  padding-right: 2.5rem;
}

.modern-input-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $modern-gray-400;
  pointer-events: none;

  svg {
    width: 18px;
    height: 18px;
  }
}

.modern-input-icon-left {
  left: 1rem;
}

.modern-input-icon-right {
  right: 1rem;
}

.modern-input-error {
  border-color: $modern-error !important;

  &:focus {
    border-color: $modern-error !important;
    box-shadow: 0 0 0 3px rgba(244, 67, 54, 0.1) !important;
  }
}

.modern-input-error-message {
  font-size: $modern-fs-xs;
  color: $modern-error;
  margin-top: $modern-spacing-1;
}

.modern-textarea {
  resize: vertical;
  min-height: 100px;
  font-family: $modern-font-primary;
  line-height: $line-height-normal;
}

.modern-select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%239ca3af' d='M6 9L1 4h10z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 12px;
  padding-right: 2.5rem;
  cursor: pointer;
}

// Focus states
.modern-input-field:focus,
.modern-textarea:focus,
.modern-select:focus {
  outline: none;
  border-color: $modern-input-border-focus;
  box-shadow: 0 0 0 3px rgba(0, 102, 255, 0.1);
}

// Disabled states
.modern-input-field:disabled,
.modern-textarea:disabled,
.modern-select:disabled {
  background: $modern-gray-100;
  color: $modern-gray-500;
  cursor: not-allowed;
}
